#### Dataset Description
---
https://github.com/Machinfy/Data-Analysis-with-python-Crash-Course/blob/main/Orange_Telecom_Churn_Data.csv

data dicitionary, or description of the variables:

- <b>state</b> : the state code for this user (String)
- <b>account_length</b> : the age of this account - consider it into months - (int)
- <b>area_code</b> : the code for area for this account (int)
- <b>phone_number</b> : the account number for this user (string)
- <b>intl_plan</b> : if user has intl plan or not (string)
- <b>voice_mail_plan</b> : if user has voice mail plan or not (string)
- <b>number_vmail_messages</b> : count of voice mail messages sent by this user (int)
- <b>total_day_minutes</b> : the total minutes for day (float)
- <b>total_day_calls</b> : count of calls made at day (int)
- <b>total_day_charge</b> : cost of all minuts and calls during day (float)
- <b>total_eve_minutes</b> : the total minutes for eve (float)
- <b>total_eve_calls</b> :  count of calls made at eve (int)
- <b>total_eve_charge</b> : cost of all minuts and calls during eve (float)
- <b>total_night_minutes</b> : the total minutes for night (float)
- <b>total_night_calls</b> : count of calls made at night (int)
- <b>total_night_charge</b> : cost of all minuts and calls during night (float)
- <b>total_intl_minutes</b> : the total minutes for intl (float)
- <b>total_intl_calls</b> : the total calls made for intl (int)
- <b>total_intl_charge</b> : cost of all minuts and calls during intl (float)
- <b>number_customer_service_calls</b> : how many times he called customer service (int)
- <b>churned</b> : churned or not (boolean)

### Business Questions
---
- how many states we have and what is the count for users in each state?
- what is the age of the oldest account we have in our company?
- how many intl plan subscriber?
- how many voice mail subscriber?
- what is the average voice mail messages sent by who subscribed in voice mail plan <b>ONLY</b>?
- what is the average minutes for day, eve, night and intl?
- what is the average call counts for day, eve, night and intl?
- what is the average charge for day, eve, night and intl?
- what is the churn rate in our company?
- True of False for:
    - calls during day is more worthy than night?
    - charge during night is cheaper than eve?
- recommend the best time we can offer a free minutes for customers? [optional]

In [1]:
import pandas as pd 
import numpy  as py

In [31]:
df = pd.read_csv('Orange_Telecom_Churn_Data.csv')
df.head(10)

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False

In [3]:
df['state'].value_counts()

WV    158
MN    125
AL    124
ID    119
VA    118
OH    116
TX    116
WY    115
NY    114
OR    114
NJ    112
UT    112
WI    106
MI    103
ME    103
MA    103
MD    102
VT    101
MT     99
RI     99
KY     99
MS     99
CT     99
KS     99
WA     98
IN     98
CO     96
NH     95
DE     94
MO     93
AR     92
NM     91
NC     91
SC     91
FL     90
NV     90
OK     90
TN     89
AZ     89
DC     88
IL     88
NE     88
ND     88
HI     86
SD     85
GA     83
LA     82
PA     77
AK     72
IA     69
CA     52
Name: state, dtype: int64

In [7]:
x= pd.DataFrame(df['state'].value_counts())
x

    state
WV    158
MN    125
AL    124
ID    119
VA    118
OH    116
TX    116
WY    115
NY    114
OR    114
NJ    112
UT    112
WI    106
MI    103
ME    103
MA    103
MD    102
VT    101
MT     99
RI     99
KY     99
MS     99
CT     99
KS     99
WA     98
IN     98
CO     96
NH     95
DE     94
MO     93
AR     92
NM     91
NC     91
SC     91
FL     90
NV     90
OK     90
TN     89
AZ     89
DC     88
IL     88
NE     88
ND     88
HI     86
SD     85
GA     83
LA     82
PA     77
AK     72
IA     69
CA     52

In [9]:
x.size

51

In [11]:
x.shape

(51, 1)

## how many states we have and what is the count for users in each state?

In [12]:
 print ('we have 51 satate ')

we have 51 satate

In [21]:
print("the count for users in each state = ",                     
      x)

the count for users in each state =      state
WV    158
MN    125
AL    124
ID    119
VA    118
OH    116
TX    116
WY    115
NY    114
OR    114
NJ    112
UT    112
WI    106
MI    103
ME    103
MA    103
MD    102
VT    101
MT     99
RI     99
KY     99
MS     99
CT     99
KS     99
WA     98
IN     98
CO     96
NH     95
DE     94
MO     93
AR     92
NM     91
NC     91
SC     91
FL     90
NV     90
OK     90
TN     89
AZ     89
DC     88
IL     88
NE     88
ND     88
HI     86
SD     85
GA     83
LA     82
PA     77
AK     72
IA     69
CA     52

## what is the age of the oldest account we have in our company?

In [22]:
df["account_length"].max()

243

In [23]:
print("the age of the oldest account we have in our company = " ,df["account_length"].max())

the age of the oldest account we have in our company =  243

## how many intl plan subscriber

In [25]:
df["intl_plan"].value_counts()

no     4527
yes     473
Name: intl_plan, dtype: int64

In [27]:
print('intl plan subscriber = 473')

intl plan subscriber = 473

## how many voice mail subscriber?

In [28]:
df['voice_mail_plan'].value_counts()

no     3677
yes    1323
Name: voice_mail_plan, dtype: int64

In [29]:
print("voice mail subscriber = 1323")

voice mail subscriber = 1323

In [30]:
df.head()

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

## what is the average voice mail messages sent by who subscribed in voice mail plan ONLY

In [36]:
df.groupby(['voice_mail_plan','intl_plan']).mean()

                           account_length   area_code  number_vmail_messages  \
voice_mail_plan intl_plan
no              no             100.319340  436.353823               0.000000
                yes            101.368421  443.166667               0.000000
yes             no              99.373322  436.807886              29.254195
                yes            103.870229  435.717557              29.809160

                           total_day_minutes  total_day_calls  \
voice_mail_plan intl_plan
no              no                179.682969       100.067166
                yes               185.481871        99.883041
yes             no                180.122735        99.726510
                yes               183.669466       102.206107

                           total_day_charge  total_eve_minutes  \
voice_mail_plan intl_plan
no              no                30.546681         199.527556
                yes               31.532485         203.846491
yes             no                30.621326         202.421728
                yes               31.224656         204.245802

                           total_eve_calls  total_eve_charge  \
voice_mail_plan intl_plan
no              no              100.209295         16.960051
                yes             100.769006         17.327105
yes             no              100.078859         17.206082
                yes              99.236641         17.361221

                           total_night_minutes  total_night_calls  \
voice_mail_plan intl_plan
no              no                  200.709175          99.744228
                yes                 195.495029         100.444444
yes             no                  201.147232         100.270973
                yes                 198.215267          99.801527

                           total_night_charge  total_intl_minutes  \
voice_mail_plan intl_plan
no              no                   9.032021           10.232534
                yes                  8.797427           10.473684
yes             no                   9.051745           10.235822
                yes                  8.919618           10.689313

                           total_intl_calls  total_intl_charge  \
voice_mail_plan intl_plan
no              no                 4.448276           2.763295
                yes                4.426901           2.828216
yes             no                 4.385067           2.764245
                yes                4.580153           2.886718

                           number_customer_service_calls   churned
voice_mail_plan intl_plan
no              no                              1.586507  0.135532
                yes                             1.535088  0.447368
yes             no                              1.546141  0.046980
                yes                             1.473282  0.351145

In [37]:
print('the average voice mail messages sent by who subscribed in voice mail plan ONLY = 29.254195')

the average voice mail messages sent by who subscribed in voice mail plan ONLY = 29.254195

## what is the average minutes for day, eve, night and intl?

In [42]:
df['total_day_minutes'].mean()

180.2888999999998

In [43]:
df['total_eve_minutes'].mean()

200.63656000000023

In [44]:
df['total_night_minutes'].mean()

200.3916200000002

In [45]:
df['total_intl_minutes'].mean()

10.261779999999993

## what is the average call counts for day, eve, night and intl?

In [47]:
print('average call counts for day, eve, night and intl = 100.029400 ,100.19100 ,  	99.919200  ,4.435200         ')

average call counts for day, eve, night and intl = 100.029400 ,100.19100 ,  	99.919200  ,4.435200

## what is the average charge for day, eve, night and intl?

In [46]:
df.describe()

,account_length,area_code,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
count,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,100.25860,436.911400,7.755200,180.288900,100.029400,30.649668,200.636560,100.191000,17.054322,200.391620,99.919200,9.017732,10.261780,4.435200,2.771196,1.570400
std,39.69456,42.209182,13.546393,53.894699,19.831197,9.162069,50.551309,19.826496,4.296843,50.527789,19.958686,2.273763,2.761396,2.456788,0.745514,1.306363
min,1.00000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,73.00000,408.000000,0.000000,143.700000,87.000000,24.430000,166.375000,87.000000,14.140000,166.900000,87.000000,7.510000,8.500000,3.000000,2.300000,1.000000
50%,100.00000,415.000000,0.000000,180.100000,100.000000,30.620000,201.000000,100.000000,17.090000,200.400000,100.000000,9.020000,10.300000,4.000000,2.780000,1.000000
75%,127.00000,415.000000,17.000000,216.200000,113.000000,36.750000,234.100000,114.000000,19.900000,234.700000,113.000000,10.560000,12.000000,6.000000,3.240000,2.000000
max,243.00000,510.000000,52.000000,351.500000,165.000000,59.760000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [48]:
print(' the average charge for day, eve, night and intl = 30.649668  , 17.054322 ,9.017732 , 2.771196  ')

 the average charge for day, eve, night and intl = 30.649668  , 17.054322 ,9.017732 , 2.771196

## what is the churn rate in our company

In [53]:
#مش فاهم هنحسب التغير بالنسبه لي ايه فدي هبده مني  

df.groupby(['churned']).sum()

,account_length,area_code,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
churned,,,,,,,,,,,,,,,,
False,428944,1874911,35597,754480.0,428869,128264.08,853470.0,430337,72545.92,856260.8,429196,38532.22,43749.4,19241,11814.57,6258
True,72349,309646,3179,146964.5,71278,24984.26,149712.8,70618,12725.69,145697.3,70400,6556.44,7559.5,2935,2041.41,1594

## True of False for:
##    calls during day is more worthy than night?
   ## charge during night is cheaper than eve?

In [54]:
df.head()

,state,account_length,area_code,phone_number,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [55]:
df.describe()

,account_length,area_code,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls
count,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,100.25860,436.911400,7.755200,180.288900,100.029400,30.649668,200.636560,100.191000,17.054322,200.391620,99.919200,9.017732,10.261780,4.435200,2.771196,1.570400
std,39.69456,42.209182,13.546393,53.894699,19.831197,9.162069,50.551309,19.826496,4.296843,50.527789,19.958686,2.273763,2.761396,2.456788,0.745514,1.306363
min,1.00000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,73.00000,408.000000,0.000000,143.700000,87.000000,24.430000,166.375000,87.000000,14.140000,166.900000,87.000000,7.510000,8.500000,3.000000,2.300000,1.000000
50%,100.00000,415.000000,0.000000,180.100000,100.000000,30.620000,201.000000,100.000000,17.090000,200.400000,100.000000,9.020000,10.300000,4.000000,2.780000,1.000000
75%,127.00000,415.000000,17.000000,216.200000,113.000000,36.750000,234.100000,114.000000,19.900000,234.700000,113.000000,10.560000,12.000000,6.000000,3.240000,2.000000
max,243.00000,510.000000,52.000000,351.500000,165.000000,59.760000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

# calls during day is more worthy than night?
no

## charge during night is cheaper than eve? yes

## recommend the best time we can offer a free minutes for customers? at intl